<!--
    This file contains all of the javascript libraries used in the game
-->

<!--
    Third Party Libraries:
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/93/three.min.js"></script>
<script src="./libs/OBJLoader-new.js"></script>
<script src="./libs/dat.gui.js"></script>
<script src="./libs/OrbitControls.js"></script>

<!--
    First Party Libraries (ours) :
-->
